/* Base Variables */

:root {
    --primary-color: #4da3ff;
    --primary-dark: #3a82cc;

    --bg-dark: #0f0f0f;
    --card-bg: #1a1a1a;

    --text-primary: #f2f2f2;
    --text-secondary: #b3b3b3;

    --border-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden !important;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: -20%;
    right: -10%;
    width: 600px;
    height: 600px;
    background: radial-gradient(
    circle,
    rgba(46, 204, 113, 0.15) 0%,
    rgba(0,0,0,0) 70%
    );  
    z-index: -1;
}

.hero-content {
    max-width: 600px;
    z-index: 1;
}

.badge-pill {
    background: rgba(46, 204, 113, 0.1);
    color: var(--primary-color);
    padding: 0.4rem 1rem;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(46, 204, 113, 0.2);
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.text-gradient {
    background:linear-gradient(135deg, var(--primary-color), var(--primary-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p {
    font-size: 1.1rem;
    color: var(--text-secondary);
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.btn-primary, .btn-secondary {
    padding: 0.9rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3 ease;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
    box-shadow: 0 6px 20px rgba(46, 204 113, 0.4);
}

.btn-primary:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(46, 204, 113, 0.4);
}

.btn-secondary {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
}

.small-text {
    font-size: 0.8rem;
    color: #666;
}

.small-text a {
    color: #888;
    text-decoration: underline;
}

.small-text a:hover {
    color: #9d9d9d
}

/* Info Bar */

.info-bar {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.02);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 4rem;
}

.info-item {
    text-align: center;
}

.info-label1 {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
}

.info-label2 {
    font-size: 0.9rem;
    color: var(--text-secondary);
}

/* Animations */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s forwards;
}

.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.4s;
}

.delay-4 {
    animation-delay: 0.8s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll Reveal */
.scroll-reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0)
}