:root {
    --primary-color: #4da3ff;
    --primary-dark: #3a82cc;

    --bg-dark: #0f0f0f;
    --card-bg: #1a1a1a;

    --text-primary: #f2f2f2;
    --text-secondary: #b3b3b3;

    --border-color: #333;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg-dark);
    color: var(--text-primary);
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 110px;
    background: var(--card-bg);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05)
}

h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 600;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #2a2a2a;
    padding: 1.5rem;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 0.95rem;
}

.container a {
    text-decoration: underline;
    color: var(--primary-color)
}

.container a:hover {
    color: var(--primary-dark);
}